<h1>Edit movie</h1>

<% @the_movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(url: movie_path(@the_movie)) do %>
  <input name="_method" value="patch" type="hidden">

  <div>
    <label for="title_box">
      Title
    </label>

    <input type="text" id="title_box" name="query_title" value="<%= @the_movie.title %>">
  </div>

  <div>
    <label for="description_box">
      Description
    </label>

    <textarea id="description_box" name="query_description" rows="3"><%= @the_movie.description %></textarea>
  </div>

  <button>
    Update movie
  </button>
<% end %>
